{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "base-protocol-mozilla.html" %}

{% block page_title %}{{ ftl('fluent-title') }}{% endblock %}

{% block page_desc %}{{ ftl('fluent-page-desc') }}{% endblock %}

{% block canonical_urls %}
    {# This page should have a self referencing canonical URL but no hreflang entries #}
    <link rel="canonical" href="{{ settings.CANONICAL_URL + '/locales/' }}">
{% endblock %}

{% block page_css %}
    {{ css_bundle('locales') }}
{% endblock %}

{% block content %}
<main role="main" class="mzp-l-content">
    <header class="c-simple-header">
        <h1 class="c-simple-header-title">{{ ftl('not-a-string', fallback='fluent-header-title') }}</h1>
        {% if ftl_has_messages('fluent-title', 'fluent-page-desc') %}
            <p>{{ ftl('fluent-page-desc') }}</p>
        {% else %}
            <p>It does not have all of the messages.</p>
        {% endif %}
    </header>
</main>
{% endblock %}
