

$font-path: '/media/fonts';
$image-path: '/media/protocol/img';


@import '../../../protocol/css/components/hero';
@import '../../../protocol/css/components/picto-card';
@import '../../../protocol/css/templates/card-layout';

.add-on-download {
    p {
        margin: $spacing-sm;
    }
}
.card-header {
    text-align: center;
}
.mzp-t-dark {
    background-color: $color-off-black;
}
.ios-button {
    text-decoration: none;
}
.links {
    text-align: center;
    padding-bottom: $layout-xl;
    a {
        padding-right: $spacing-lg;
    }
}
.mobile-download-buttons {
    padding-bottom: $spacing-md;
}
.mzp-c-card-picto .mzp-c-card-picto-content.encryption::before {
    background: url('/media/img/firefox/lockwise/arrows.svg') no-repeat;
}
.mzp-c-card-picto .mzp-c-card-picto-content.touch::before {
    background: url('/media/img/firefox/lockwise/fingerprinters.svg') no-repeat;
}
.mzp-c-card-picto .mzp-c-card-picto-content.privacy::before {
    background: url('/media/img/firefox/lockwise/mask.svg') no-repeat;
}
.mzp-c-hero-desc {
    margin-bottom: $spacing-lg;
}
.mzp-c-hero-image {
    padding-top: $spacing-lg;
}
.mzp-c-hero-title {
    background: url('/media/protocol/img/logos/firefox/lockwise/logo-word-hor-2xl-high-res.png') no-repeat;
    @include background-size(250px);
    padding-top: $layout-lg;
}

@media #{$mq-sm} {
    .mobile-download-buttons {
        margin-bottom: $spacing-lg;
    }
}

@media #{$mq-lg} {
    .mzp-c-hero-image img {
        margin: 0 $layout-lg;
    }
}
