{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% add_lang_files "firefox/browsers" %}

{% extends "firefox/base/base-protocol.html" %}
{% from "macros.html" import fxa_email_form, fxa_link_fragment with context %}
{% from "macros-protocol.html" import feature_card with context %}

{% block page_title %}{{ _('Firefox - Protect your life online with privacy-first products') }}{% endblock %}
{% block page_desc %}{{ _('Firefox is more than a browser. Learn more about Firefox products that handle your data with respect and are built for privacy anywhere you go online.') }}{% endblock %}

{% block page_css %}
  {{ css_bundle('firefox-browsers') }}
{% endblock %}

{% set _entrypoint = 'mozilla.org-firefox-browsers' %}

{% block content %}
<main role="main">
  <div class="mzp-l-content c-intro">
    <h1 class="t-zap">{{ _('Get the <strong>browsers</strong> that put your privacy first — and always have') }}</h1>
    <p>{{ _('Industry-leading privacy protection comes standard with every browser we make — and so does your right to remain anonymous.') }}</p>
  </div>

  <div class="mzp-l-content c-landing-grid">
    <div>
      <img src="{{ static('img/firefox/home/master/browsers.jpg') }}">
      <h2 class="c-landing-grid-title ">{{ _('Desktop') }}</h2>
      <p>{{ _('2000+ trackers off your trail — including Facebook') }}</p>
      <p>
      <!--[if IE]>
        <a href="{{ url('firefox.new') }}" data-link-type="Desktop" data-download-os="Desktop" data-download-version="standard">{{ _('Download') }}</a>
      <![endif]-->
      <!--[if !IE]><!-->
        <a class="mzp-c-cta-link" href="{{ url('firefox.download.thanks') }}" data-link-type="Desktop" data-download-os="Desktop" data-download-version="standard">{{ _('Download') }} ⬇️</a>
      <!--<![endif]-->
      </p>
      <p><a class="mzp-c-cta-link" href="#TKTK">{{ _('Learn more') }}</a></p>
    </div>
    <div>
      <img src="{{ static('img/firefox/home/master/browsers.jpg') }}">
      <h2 class="c-landing-grid-title ">{{ _('Mobile') }}</h2>
      <p>{{ _('Take your passwords, preferences — and even your tabs — with you') }}</p>
      <div class="mzp-c-menu-list mzp-t-cta mzp-t-download">
        <h5 class="mzp-c-menu-list-title">{{ _('Download') }}</h5>
        <ul class="mzp-c-menu-list-list" id="menu-mobile">
          <li class="mzp-c-menu-list-item"><a href="{{ firefox_adjust_url('android', 'firefox_browsers') }}" rel="external noopener" data-link-type="download" data-display-name="Android" data-download-version="android" data-download-os="Android">Android</a></li>
          <li class="mzp-c-menu-list-item"><a href="{{ firefox_adjust_url('ios', 'firefox_browsers') }}" rel="external noopener" data-link-type="download" data-display-name="iOS" data-download-version="ios" data-download-os="iOS">iOS</a></li>
        </ul>
      </div>
      <p><a class="mzp-c-cta-link" href="#TKTK">{{ _('Learn more') }}</a></p>
    </div>
    <div>
      <img src="{{ static('img/firefox/home/master/browsers.jpg') }}">
      <h2 class="c-landing-grid-title ">{{ _('Enterprise') }}</h2>
      <p>{{ _('Protect your company’s data — and choose the release cadence that works') }}</p>
      <p>
        <a class="mzp-c-cta-link" href="#TKTK">{{ _('Contact sales') }}</a>
      </p>
      <p><a class="mzp-c-cta-link" href="#TKTK">{{ _('Learn more') }}</a></p>
    </div>
    <div>
      <img src="{{ static('img/firefox/home/master/browsers.jpg') }}">
      <h2 class="c-landing-grid-title ">{{ _('Reality') }}</h2>
      <p>{{ _('Strap on your goggles and step into the immersive web') }}</p>
      <p><a class="mzp-c-cta-link" href="#TKTK">{{ _('Learn more') }}</a></p>
    </div>
    <div class="c-landing-grid-wide">
      <div class="t-dev">
        {% call feature_card(
          title='Developer Edition',
          heading_level=2,
          image_url='img/firefox/home/master/spacer.gif',
          class='mzp-l-card-feature-left-half',
          link_url=url('firefox.developer.index'),
          link_cta=learn_more,
          ga_title='Developer'
        ) %}
        <p class="c-dev-title t-zap">{{ _('Build sites and refine your code with Firefox <strong>DevTools</strong>') }}</p>
        <p><a class="mzp-c-cta-link" href="#TKTK">{{ _('Learn more') }}</a></p>
        {% endcall %}
      </div>
    </div>
  </div>

  <div class="mzp-l-content is-js-dependent">
    <div class="mzp-c-box-emphasis mzp-t-dark t-account">
      <div class="fxa-form-cta">
        {{ fxa_email_form(
          entrypoint=_entrypoint,
          form_title=_('Join Firefox and get the most out of every product — across every device.'),
          button_class='mzp-c-button mzp-t-product mzp-t-small'
          )
        }}
        <p class="fxa-signin">
          {% set fxa_link = fxa_link_fragment(entrypoint=_entrypoint, action='signin', utm_campaign='browsers_footer') %}
          {% set fxa_attr = 'href="{{ fxa_link }}" class="js-fxa-cta-link"'|safe %}
          {% set accounts_link = url('firefox.accounts') %}
          {% set accounts_attr = 'href="{{ accounts_link }}"'|safe %}
          {% trans %}
            Already have an account? <a {{ fxa_attr }}>Sign In</a> or <a {{ accounts_attr }}>learn more</a> about Joining Firefox</p>
          {% endtrans %}
      </div>
    </div>
  </div>
</main>
{% endblock %}

{% block js %}
  {{ js_bundle('firefox-browsers') }}
{% endblock %}

{% block structured_data %}
  {
    "@context": "https://schema.org/",
    "@graph": [
      {% include 'includes/structured-data/software/firefox-browser-software.json' %}
      ,
      {% include 'includes/structured-data/software/firefox-beta-software.json' %}
      ,
      {% include 'includes/structured-data/software/firefox-developer-software.json' %}
      ,
      {% include 'includes/structured-data/software/firefox-enterprise-software.json' %}
    ]
  }
{% endblock %}
